.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.myslides {
	height: 100px;
}

.slider-image-wrap {
	height: 400px;
	width: 400px;
}
.slider-image-wrap img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
